.App {
  text-align: center;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.game-header-mine-count,
.game-header-face,
.game-header-timer {
  margin: 10px;
}

.game-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.game-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-grid-cell {
  margin: 1px;
  background-color: lightgrey;
  min-width: 30px;
  min-height: 30px;
  vertical-align: middle;
  padding: 10px;
  font-size: 20px;
}

.game-grid-cell.selected {
  background-color: grey;
}